#startContainer{
    height:100vh;
    width: auto;
    max-width: 100%;
    
/*
    display:flex;
    flex-direction: column;
*/
    
/*
    display:grid;
    grid-template-rows: [row1]20% [row2]60% [row3]20%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
*/
    
}

#header{
  height:10%;
}

.btn{
    display:none;
}

#map{
/*    grid-area:main;*/
    height:400px;
    width: 100%;
    margin: 0 auto; /*this will cause the div to be in the center*/
}

#mapContainer{
/*
    margin-top:20px;
    margin-bottom:20px;
*/
}

#footer{
   height:15%;
   background-color: aquamarine;
/*
   display: flex;
   align-items: center;
*/

}

#hashtagsList{
    list-style-type:none;
}



.img_container{
    position:absolute;
    width:240px;
    height: 240px;

}
.flex {
    display: flex;
/*    flex-grow: 1;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.img{
    border: 2px solid grey;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}



#all_filter {
    display: none;
}
