@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    height: fit-content;
    width: 100%;
}

.modal-body p, p.modal-title {
    word-break: break-all;
}

body{
    height: fit-content;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#header{
  height:10%;
}

/*
.btn{
    display:none;
}
*/

#map{
/*    grid-area:main;*/
    height:400px;
    width: 100%;
    margin: 0 auto; /*this will cause the div to be in the center*/
}

#footer{
  margin-top: 1%;
  display: flex;
  align-content: center;
  justify-content: center
    
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 15px !important;
/*    float: right;*/
}


#map_button{
    display: none;
}



#waitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

#please_wait{
/*    margin-left:40%;*/
    z-index:10;
}


.img{
    width:240px;
    height:240px;
}

.img_container{
    position:absolute;
    width:240px;
    height: 240px;

}
.flex {
    display: flex;
/*    flex-grow: 1;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.img{
    border: 2px solid grey;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}



#all_filter {
    display: none;
}

.hashtag-list {
    align-content: center;
    display: flex;
}







.flex-item {
    flex-grow: 1;
}

.item {
    margin-left: 0.75%;
}





.col-12 {
    justify-content: center
}


#startContainer {
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    font-family: 'Quicksand', sans-serif;
}


