<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instagram App</title>
    <!-- BOOTSTRAP: this CDN(Contend Delivery Network) is the latest compiled and minified CSS; CDN used when you don't download Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- BOOTSTRAP: the following is for MOBILE: ensure proper rendering and touch-zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/stats_styles.css">
</head>

<body>

    <div id="apiApp" class="container">
        <div class="row">
            <h1>Instagram Geo Navigator</h1>
        </div>
        <div class="row">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a href="index.html" class="navbar-brand">Explore Country Hashtags</a>
                <a href="" class="navbar-brand">Explore Capital Cities Location</a>
            </nav>
        </div>
        <div class="row" id="Logindiv">
            <h3>Please sign in to your instagram account to access the data per capital city!</h3>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=2260f74aec874e31895b9f2c641842ac&redirect_uri=https://eloisa-r.github.io/Landscapes/stats.html&response_type=token&scope=public_content">Login</a>
        </div>

        <div id="startContainer">
            <div class="row card">
                <h2>Instagram pics taken <span id="cityName"></span></h2>

            </div>
            <div class="row" id="mapContainer">

                <div id="map">
                </div>
            </div>
            <div id="footer" class="row">



                <ul id="hashtagsList" class="nav-pills nav-justified">
                    <li><a href="#map" class="btn btn-primary" id="map_button"> </a> </li>
                    <li v-for="hashtag in sorted_hashtags_array.slice(1,10)"><input type="button" v-on:click="hashtagFilter" v-bind:value="hashtag.value" class="btn btn-default"></li>
                    <li><input type="button" class="btn btn-primary" v-on:click="hashtagFilter" id="all_filter" value="All"></li>
                </ul>
            </div>



            <div class="flex" id="picsContainer">
                <!--            I've putted the "please wait" inside the pics container-->
                <div id="waitBox">
                    <img id="please_wait" src="https://www.citizenservices.gov.bt/DOPPublic/Images/loader.gif" alt="please wait">
                </div>

                <div id="pic" v-for="pic in ratedPics" v-if="filterValue == '' || filterValue == 'All' || pic.node.edge_media_to_caption.edges[0].node.text.includes(filterValue)">


                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-link" data-toggle="modal" v-bind:data-target="'#' + pic.node.id"><img v-bind:src="pic.node.thumbnail_resources[1].src" class="img"></button>


                    <!-- Modal -->
                    <div v-bind:id="pic.node.id" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button> Likes: <span class="badge">{{pic.node.edge_liked_by.count}}</span>
                                </div>
                                <div class="modal-body">
                                    <img v-bind:src="pic.node.thumbnail_resources[3].src" class="img">
                                </div>
                                <div class="modal-footer">
                                    <p class="modal-title" style="float: left">{{pic.node.edge_media_to_caption.edges[0].node.text}}</p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>





    <!--  jQuery Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="js/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="js/jquery-jvectormap-europe-mill.js"></script>
    <script src="js/stats.js"></script>
</body>

</html>
